:root,
:host {
    --sys-background: #fef7ff;
    --sys-on-background: #1d1b20;
    --sys-surface: #fef7ff;
    --sys-surface-dim: #ded8e0;
    --sys-surface-bright: #fef7ff;
    --sys-surface-container-lowest: #ffffff;
    --sys-surface-container-low: #f8f1fa;
    --sys-surface-container: #f2ecf4;
    --sys-surface-container-high: #ece6ee;
    --sys-surface-container-highest: #e7e0e8;
    --sys-on-surface: #1d1b20;
    --sys-surface-variant: #e7e0eb;
    --sys-on-surface-variant: #49454e;
    --sys-inverse-surface: #322f35;
    --sys-inverse-on-surface: #f5eff7;
    --sys-outline: #7a757f;
    --sys-outline-variant: #cbc4cf;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #67558e;
    --sys-primary: #67558e;
    --sys-on-primary: #ffffff;
    --sys-primary-container: #eaddff;
    --sys-on-primary-container: #220f46;
    --sys-inverse-primary: #d1bcfd;
    --sys-secondary: #66558e;
    --sys-on-secondary: #ffffff;
    --sys-secondary-container: #eaddff;
    --sys-on-secondary-container: #220f46;
    --sys-tertiary: #8c4a5e;
    --sys-on-tertiary: #ffffff;
    --sys-tertiary-container: #ffd9e1;
    --sys-on-tertiary-container: #3a071c;
    --sys-error: #904a43;
    --sys-on-error: #ffffff;
    --sys-error-container: #ffdad5;
    --sys-on-error-container: #3b0907;
    --sys-neutral: #7a767d;
    --sys-neutral-variant: #7a757f;
    --sys-primary-fixed: #eaddff;
    --sys-primary-fixed-dim: #d1bcfd;
    --sys-on-primary-fixed: #220f46;
    --sys-on-primary-fixed-variant: #4e3d75;
    --sys-secondary-fixed: #eaddff;
    --sys-secondary-fixed-dim: #d1bcfd;
    --sys-on-secondary-fixed: #220f46;
    --sys-on-secondary-fixed-variant: #4e3d75;
    --sys-tertiary-fixed: #ffd9e1;
    --sys-tertiary-fixed-dim: #ffb1c6;
    --sys-on-tertiary-fixed: #3a071c;
    --sys-on-tertiary-fixed-variant: #703347;
    --sys-inverse-secondary: #d1bcfd;
    --sys-inverse-tertiary: #ffb1c6;
    --sys-inverse-error: #ffb4ab;
    --sys-error-fixed: #ffdad5;
    --sys-error-fixed-dim: #ffb4ab;
    --sys-on-error-fixed: #3b0907;
    --sys-on-error-fixed-variant: #73342d;
}