.content {
  padding: 2em;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 24%,
    rgba(0, 212, 255, 1) 100%
  );
  margin-top: 5px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 10% 30% 60%;
  grid-auto-flow: row;
}

::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 28px;
}

.btn_search {
  border: 1px solid #030231;
  background-color: #0f2d90;
}

.btn_show-role {
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 80%;
  margin: auto;
}

.register {
  // background: $primary-color;
  margin-top: 3%;
  padding: 3%;
}

.search_input {
  text-align: center;
  color: #fff;
}

.register_right {
  background: #f8f9fa;
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
  margin-left: 10px;
}

.register_right > div {
  display: flex;
  justify-content: space-between;
  max-width: 25em;
  border-bottom: 1px solid lightblue;
  padding: 5px;
  margin-left: 10px;
}

.logo {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.table_info {
  margin: 1.2rem;
  border: 2px solid #2b91ec;
  border-radius: 5px;
}

button {
  border-radius: 50px;
}

.table_info-content {
  max-height: 60vh;
  overflow: scroll;
}

.tags {
  display: flex;
  padding: 5px 0;

  app-chip {
    margin: 0 1px;
  }
}
