<mat-card appearance="outlined">
  <mat-card-title class="p-5"> Security : </mat-card-title>
  <mat-card-content>
    <!-- *****Two-Factor Authentication***** -->
    <div class="mb-5">
      <p class="text-blue font-semibold text-lg">Two-Factor Authentication</p>
      <span class="opacity-45">
        Two-factor authentication is an enhanced security meansur. Once enabled,
        you'll be required to give two types of identification when you log into
        Google Authentication and SMS are Supported. Lorem Ipsum is simply dummy
        text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown
        printer took a galley of.
      </span>
    </div>
    <!-- *****Secondary Verification***** -->
    <div class="mb-5">
      <p class="text-blue font-semibold text-lg">Secondary Verification</p>
      <span class="opacity-45">
        It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was
        popularised in the 1960s with the release of Letraset sheets containing.
      </span>
    </div>
    <!-- *****Backup Codes***** -->
    <div class="mb-5">
      <p class="text-blue font-semibold text-lg">Backup Codes</p>
      <span class="opacity-45">
        It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was
        popularised in the 1960s with the release of Letraset sheets containing.
      </span>
    </div>
    <!-- *****Desktop, Email, Chat, Purchase Notifications***** -->
    <div class="mb-5">
      <p class="text-blue font-semibold text-lg">
        Desktop, Email, Chat, Purchase Notifications
      </p>
      <span class="opacity-45">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of
        using Lorem Ipsum is that it has a more-or-less normal distribution of
        letters.
      </span>
    </div>
    <!-- *****Delete This Account***** -->
    <div>
      <p class="text-blue font-semibold text-lg">Delete This Account :</p>
      <span class="opacity-45">
        There are many variations of passages of Lorem Ipsum available, but the
        majority have suffered alteration in some form, by injected humour, or
        randomised words which don't look even slightly believable.
      </span>
    </div>
  </mat-card-content>
</mat-card>
