<div class="desktop:flex gap-2 mt-2 ml-2 tablet:flex ">
  <mat-card appearance="outlined" class="h-fit">
    <mat-card-content>
      <div class="flex flex-col items-center mt-2">
        <img
          class="w-24 h-24 mb-3 rounded-full shadow-lg"
          src="assets/images/ali.jpg"
          alt="Bonnie image" />
        <h5 class="mb-1 text-xl font-medium text-blue">Aliakbar Esmaeili</h5>
        <span class="text-sm text-gray-500 dark:text-gray-400 pb-2"
          >Visual Designer</span
        >
        <mat-divider class="w-72 text-blue"></mat-divider>
        <div class="p-5">
          @for (item of settingsRoutes; track $index) {
          <a
            [routerLink]="item?.path"
            class="dark:hover:text-blue w-80 cursor-pointer flex items-center rounded-xl gap-2 p-2">
            <span class="material-symbols-outlined"> person </span>
            {{ item?.title }}
          </a>

          }
        </div>
      </div>
    </mat-card-content>
  </mat-card>

 
  <div class="w-full">
    <ng-content></ng-content>
    <!-- <div [ngSwitch]="temp">
      <ng-template [ngSwitchCase]="'setting'">
        <router-outlet></router-outlet>
        <app-settings />
      </ng-template>
      <ng-template [ngSwitchCase]="'changepassword'">
        <router-outlet></router-outlet>

        <app-change-password />
      </ng-template>
      <ng-template [ngSwitchCase]="'connections'">
        <app-connections />
      </ng-template>
      <ng-template [ngSwitchCase]="'privacyPolicy'">
        <app-privacy-policy />
      </ng-template>
      <ng-template [ngSwitchCase]="'termsConditions'">
        <app-terms-conditions />
      </ng-template>
      <ng-template ngSwitchDefault>
        <app-settings />
      </ng-template>
    </div> -->
  </div>
</div>
