<div class="flex gap-2 mt-2 ml-2 max-w-screen-2xl">
  <div
    class="bg-white border border-gray-200 rounded-lg shadow dark:border-gray-700 h-full">
    <div class="flex flex-col items-center mt-2">
      <img
        class="w-24 h-24 mb-3 rounded-full shadow-lg"
        src="assets/images/ali.jpg"
        alt="Bonnie image" />
      <h5 class="mb-1 text-xl font-medium text-primary">Aliakbar Esmaeili</h5>
      <span class="text-sm text-gray-500 dark:text-gray-400 pb-2"
        >Visual Designer</span
      >
      <mat-divider class="w-72 text-primary"></mat-divider>
      <div class="p-5">
        <a
          (click)="temp = 'setting'"
          class="hover:text-opacity-0 w-80 dark:hover:bg-blue cursor-pointer flex items-center rounded-xl gap-2 p-2">
          <span class="material-symbols-outlined"> person </span>
          Account Setting
        </a>
        <a
          (click)="temp = 'changepassword'"
          class="hover:text-opacity-0 w-80 dark:hover:bg-blue cursor-pointer flex items-center rounded-md gap-2 p-2">
          <span class="material-symbols-outlined"> password </span>
          Change Password
        </a>
        <a
          (click)="temp = 'connections'"
          class="hover:text-opacity-0 w-80 dark:hover:bg-blue cursor-pointer flex items-center rounded-md gap-2 p-2">
          <span class="material-symbols-outlined"> link </span>
          Connections
        </a>
        <a
          (click)="temp = 'privacyPolicy'"
          class="hover:text-opacity-0 w-80 dark:hover:bg-blue cursor-pointer flex items-center rounded-md gap-2 p-2">
          <span class="material-symbols-outlined"> person </span> Privacy Policy
        </a>
        <a
          (click)="temp = 'termsConditions'"
          class="hover:text-opacity-0 w-80 dark:hover:bg-blue cursor-pointer flex items-center rounded-md gap-2 p-2">
          <span class="material-symbols-outlined"> info </span>
          Terms & Conditions
        </a>
      </div>
    </div>
  </div>
  <div class="w-full">
    <div [ngSwitch]="temp" class="text-blue-700">
      <ng-template [ngSwitchCase]="'setting'">
        <app-settings />
      </ng-template>
      <ng-template [ngSwitchCase]="'changepassword'">
        <app-change-password />
      </ng-template>
      <ng-template [ngSwitchCase]="'connections'">
        <app-connections />
      </ng-template>
      <ng-template [ngSwitchCase]="'privacyPolicy'">
        <app-privacy-policy />
      </ng-template>
      <ng-template [ngSwitchCase]="'termsConditions'">
        <app-terms-conditions />
      </ng-template>
      <ng-template ngSwitchDefault>
        <app-settings />
      </ng-template>
    </div>
  </div>
</div>
