.content {
    background-color: white;
  }
  .left-img{
    background-image:url('../../../../../assets/images/bg-01.png') ;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
    position: relative;
    z-index: 1;
  }

  