<div class="flex content h-full">
    <section class="w-1/2">
      <div class="left-img"></div>
    </section>
  
    <section class="w-1/2 text-center h-screen">
      <div class="w-2/3 m-auto desktop:mt-20">
        <h3 class="text-left font-extrabold">Welcome Back</h3>
        <h2 class="cursor-pointer flex justify-start text-xs sign-up">
          Need an account?
        </h2>
        <div>
          <h3 class="text-left font-extrabold text-3xl p-3">Sign in</h3>
          <form [formGroup]="form" (ngSubmit)="resetPassword()">
            <mat-form-field
              data-testing="email"
              appearance="outline"
              class="w-full">
              <mat-label>Email</mat-label>
              <input
                type="text"
                matInput
                [errorStateMatcher]="matcher"
                formControlName="email"
                placeholder="Email" />
  
              @if (email?.hasError('email') && !email?.hasError('required')) {
              <mat-error>Please enter a valid email address</mat-error>
              } @if (email?.hasError('required')) {
              <mat-error>email is <strong>required</strong></mat-error>
              }
            </mat-form-field>
  
            <button
              class="login-button ease-in-out duration-300 w-full desktop:m-0 tablet:mt-2 mobile:mt-2"
              mat-flat-button
              data-testid="login-button"
              color="primary"
              type="submit"
              [disabled]="!form.valid">
              Login
            </button>
  
          </form>
        </div>
      </div>
    </section>
  </div>
  