mat-form-field {
    width: 100%;
  }
  
  .show-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
  }
  
  .date {
    display: flex;
    align-items: center;
  }
  
  .section {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1rem;
  }
  .choose-color{
    width: 5rem;
  }

  .color-circle {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
  }
  .selected-color-display {
    margin-top: 16px;
    font-size: 14px;
  }
  
