.gradient-1 {
  background: linear-gradient(to left, #3a7bd5, #3a6073);
}
.gradient-2 {
  background: linear-gradient(to right, #c33764, #1d2671) !important;
}
.gradient-3 {
  background: linear-gradient(to left, #134e5e, #71b280) !important;
}
.gradient-4 {
  background: linear-gradient(to left, #d38312, #a83279) !important;
}

.white {
  color: white;
}
