.content {
  background-color: white;
}
.left-img{
  background-image:url('../../../../../assets/images/bg-01.png') ;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 15px;
  position: relative;
  z-index: 1;
}
.social-login-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  font-size: 1.5em; /* Adjust size as needed */
  margin: 0; /* Adjust margin as needed */
}

.social-login-title::before,
.social-login-title::after {
  content: '';
  flex-grow: 1;
  height: 1px;
  background: linear-gradient(to right, #bbb8b8, #f3f3f3);
  margin: 0 10px; /* Adjust space between line and text */
}

.social-login-title::after {
  background: linear-gradient(to left, #bbb8b8, #f3f3f3);
}
.sign-up{
  color:#97A2B4 ;
}
.login-button {
  transition: all 0.3s ease-in-out;
}

.login-button:hover {
  transform: scale(1.05); /* Slightly enlarges the button on hover */
}