<section class="min-h-screen flex items-center justify-center content">
  <mat-card appearance="outlined" class="p-4 w-4/12">
    <!-- <button
      class="theme-switch"
      type="button"
      aria-label="Toggle theme"
      mat-icon-button
      (click)="toggleTheme()"
      matTooltip="Toggle theme">
      <mat-icon>
        {{ theme() === 'light' ? 'light_mode' : 'dark_mode' }}
      </mat-icon>
    </button> -->
    <h5 class="p-14 text-center font-extrabold text-gray-900 dark:">Welcome Back</h5>

    <form [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field
        data-testing="username"
        appearance="outline"
        class="w-full">
        <mat-label>{{ labelUserName }}</mat-label>
        <input
          type="text"
          matInput
          [errorStateMatcher]="matcher"
          formControlName="email"
          placeholder="UserName" />

        @if (email?.hasError('email') && !email?.hasError('required')) {
        <mat-error>Please enter a valid userName address</mat-error>
        } @if (email?.hasError('required')) {
        <mat-error>UserName is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full pt-2">
        <mat-label>{{ labelPassword }}</mat-label>
        <input
          type="Password"
          matInput
          [errorStateMatcher]="matcher"
          formControlName="password"
          placeholder="Password" />
        @if (password?.hasError('password') && !password?.hasError('required'))
        {
        <mat-error>Please enter a valid password address</mat-error>
        } @if (password?.hasError('required')) {
        <mat-error>password is <strong>required</strong></mat-error>
        }
      </mat-form-field>

      <a
        (click)="navigateRegister()"
        class="cursor-pointer flex justify-end text-xs dark:textblu hover:text-blue mt-7 mb-7">
        Forgot Password?
      </a>

      <button
        class="w-full desktop:m-0 tablet:mt-2 mobile:mt-2"
        mat-flat-button
        data-testid="login-button"
        color="primary"
        type="submit"
        [disabled]="!form.valid">
        Sign in
      </button>

      <p class="cursor-pointer flex justify-start text-xs pt-7">
        Don't have an account?
        <a (click)="navigateRegister()"><strong>Sign up</strong> </a>
      </p>
      <button
        class="w-full desktop:m-0 tablet:mt-2 mobile:mt-2"
        data-testid="login-button"
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!form.valid">
        <span class="flex gap-2">
          <img
            src="../../../../../assets/images/icons/search.png"
            alt=""
            width="20"
            height="" />
          <span> Log with Google </span>
        </span>
      </button>
    </form>
  </mat-card>
</section>
