.content-toolbar {
    margin-bottom: 16px;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
  }
  
  th.mat-header-cell, td.mat-cell {
    white-space: nowrap;
  }
  
 