.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.content-user {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon_userName {
    width: 40px;
    border: 1px solid lightgray;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 43px;
    height: 40px;
    cursor: pointer;
}



.example-spacer {
    flex: 1 1 auto;
}

.menu_content {
    padding: 0.5rem;
}

.menu_items {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 10px;
    cursor: pointer;
}

.menu_items:hover {
    background-color: lightgray;
    transition: .3s;
    border-radius: 25px;
}

.btn-menu {
    display: flex;
    align-items: center;
    height: 3rem;
    cursor: pointer;
}

li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}




::ng-deep.mdc-list-item__primary-text {
    // display: flex !important;
    gap: 6px;

}

mat-nav-list {
    display: flex;
    flex-direction: column;
}

mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 2;
}

mat-sidenav-container {
    height: 90vh;
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav {
    padding-top: 3.5rem;

    @media screen and (min-width: 600px) {
        padding-top: 4rem;
    }

    .entry {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.75rem;
    }
}

.content {
    min-height: 80vh;
    margin: 10px 10px;
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav-content {
    padding-top: 3.5rem;

    @media screen and (min-width: 600px) {
        padding-top: 4rem;
    }
}