<!-- <mat-toolbar color="primary">
  <div class="content-header">
    <div>
      <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="content-user">
      <span [matMenuTriggerFor]="menu" class="icon_userName">{{
        firstWord
      }}</span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
        <button mat-menu-item>User Details</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar> -->

<app-header (toggleMenu)="toggleMenu()"/>

<mat-sidenav-container autosize>
  <mat-sidenav
    class="side-nav"
    [ngClass]="isCollapsed ? 'collapsed' : 'expanded'"
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile">
    <mat-nav-list>
      <div
        *ngFor="let menuName of getMenuNames(); trackBy: trackByFn"
        class="menu_content">
        @for (item of groupedData[menuName]; track trackByFn) {
        <div class="menu_items">
          <span *ngIf="isCollapsed" class="material-symbols-outlined">
            {{ getMenuIcon(menuName) }}
          </span>
          <span *ngIf="!isCollapsed" class="material-symbols-outlined">
            {{ getMenuIcon(menuName) }}
          </span>
          <span (click)="toggleMenuItem(menuName)">
            {{ !isCollapsed ? menuName : '' }}
          </span>
          <span
            class="material-symbols-outlined"
            *ngIf="!isCollapsed && item['submenus']">
            {{ isMenuItemExpanded(menuName) ? 'expand_less' : 'expand_more' }}
          </span>
        </div>
        <ul *ngIf="isMenuItemExpanded(menuName)">
          <li>
            @if (item.submenus) { @for (s of item['submenus']; track $index) {
            <a mat-list-item [routerLink]="s.url">
              <span class="material-symbols-outlined">{{ s.icon }}</span>
              <span>
                {{ s.submenu_name }}
              </span>
            </a>
            } }
          </li>
        </ul>

        }
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-card class="content">
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
