.my-div {
    overflow-y: hidden;
    padding: 2rem;
}

tr {
    display: flex;
    justify-content: space-between;
}

td {
    width: 13rem;
}

.btn_close {
    display: flex;
    justify-content: end;

}