

<!-- <mat-card>
    <mat-card-header>
      <mat-card-title>User Detail</mat-card-title>
      <mat-card-subtitle>
        <div class="my-div">
            <table>
                <tr>
                    <td><b>ID</b></td>
                    <td>{{ data.id }}</td>
                </tr>
                <tr>
                    <td><b>Name</b></td>
                    <td>{{ data.name }}</td>
                </tr>
                <tr>
                    <td><b>Template Type</b></td>
                    <td>{{ data.templateType }}</td>
                </tr>
                <tr>
                    <td><b>Description</b></td>
                    <td>{{ data.description }}</td>
                </tr>
                <tr>
                    <td><b>Segment</b></td>
                    <td>{{ data.segment }}</td>
                </tr>
                <tr>
                    <td><b>Education System</b></td>
                    <td>{{ data.educationSystem }}</td>
                </tr>
                <tr>
                    <td><b>Assestment Type</b></td>
                    <td>{{ data.assestmentType }}</td>
                </tr>
                <tr>
                    <td><b>Create Assestment Type</b></td>
                    <td>{{ data.createAssestmentType }}</td>
                </tr>
                <tr>
                    <td><b>Level</b></td>
                    <td>{{ data.level }}</td>
                </tr>
                <tr>
                    <td><b>Subject</b></td>
                    <td>{{ data.subject }}</td>
                </tr>
                <tr>
                    <td><b>School</b></td>
                    <td>{{ data.school }}</td>
                </tr>
                <tr>
                    <td><b>Status</b></td>
                    <td>{{ data.status }}</td>
                </tr>
                <tr>
                    <td><b>Creation Date</b></td>
                    <td>{{ getFormattedDate(data.creationDate) }}</td>
                </tr>
                <tr>
                    <td><b>Update Date</b></td>
                    <td>{{ getFormattedDate(data.updateDate) }}</td>
                </tr>
            </table>
            
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-stroked-button color="warn" (click)="dialogRef.close()">Close</button>
    </mat-card-actions>
  </mat-card>  -->