
  <div class="btn_calendar">
    <button mat-flat-button class="btn-today" color="primary" (click)="setCurrentMonth()">
      Today
    </button>
    <strong>
      {{ displayMonth }}
    </strong>
    <div class="example-button-container">
      <button
        mat-mini-fab
        color="primary"
        aria-label=""
        (click)="decreaseMonth()">
        <svg
          matTooltip="last month"
          xmlns="http://www.w3.org/2000/svg"
          height="20px"
          viewBox="0 -960 960 960"
          width="20px"
          fill="#75FBFD">
          <path
            d="m330-444 201 201-51 51-288-288 288-288 51 51-201 201h438v72H330Z" />
        </svg>
      </button>
      <button
        mat-mini-fab
        color="primary"
        aria-label=""
        (click)="increaseMonth()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="20px"
          viewBox="0 -960 960 960"
          width="20px"
          fill="#75FBFD">
          <path
            d="M630-444H192v-72h438L429-717l51-51 288 288-288 288-51-51 201-201Z" />
        </svg>
      </button>
    </div>
  </div>
<div cdkDropListGroup>
  <table class="calendar-table">
    <thead>
      <tr>
        @for (weekDay of weekDayNames; track $index) {
          <th>{{ weekDay }}</th>
        }
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of calendar | chunk: 7; let i = index">
        <td
          class="calendar-day"
          [ngClass]="{ 'past-date': c.isPastDate, today: c.isToday }"
          *ngFor="let c of row; let j = index"
          (click)="getValueOfRow(row, c)"
          cdkDropList
          [cdkDropListData]="c.dataList"
          (cdkDropListDropped)="drop($event)"
          (cdkDragEnded)="dragEnded()">
          <div
            class="calendar-day-header"
            [ngClass]="{ 'blue-date': c.isToday }">
            <strong>{{ c.date.getDate() }} </strong>

            <strong
              *ngIf="c.isToday || (i == 0 && j == 0) || c.date.getDate() == 1">
              {{ monthNames[c.date.getMonth()] }}
            </strong>
            @if (c.dataList[0]?.event_title) {
              <div class="content-schedule" cdkDrag>
                <p>
                  <strong>{{ c.dataList[0]?.event_title }}</strong>
                </p>
                <p>
                  <strong>{{ c.dataList[0]?.event_description }}</strong>
                </p>
                <p
                  class="priority"
                  [style.background-color]="c.dataList[0]?.color"></p>
              </div>
            }
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
