<div class="flex content h-full">
  <section class="w-1/2"> 
      <div class="left-img"></div>
  </section>

  <section class="w-1/2 text-center h-screen">
    <div class="w-2/3 m-auto desktop:mt-20">
      <h3 class="text-left font-extrabold">Sign Up</h3>
      <h2 class="cursor-pointer flex justify-start text-xs sign-up">
        Enter details to create your account
      </h2>
      <div>
        <form
          class="grid md:grid-cols-2"
          [formGroup]="form"
          (ngSubmit)="onSubmit()">
          <div>
            <!-- *****userName***** -->
            <mat-form-field
              data-testing="userName"
              appearance="outline"
              class="w-full">
              <mat-label>userName</mat-label>
              <input
                type="text"
                matInput
                [errorStateMatcher]="matcher"
                formControlName="userName"
                placeholder="userName" />
              <!-- Error handling -->
              <mat-error
                *ngIf="
                  userName?.hasError('userName') &&
                  !userName?.hasError('required')
                "
                >Please enter a valid userName</mat-error
              >
              <mat-error *ngIf="userName?.hasError('required')"
                >userName is <strong>required</strong></mat-error
              >
              <mat-error *ngIf="form.controls.userName.hasError('minlength')"
                >userName is too short
                <strong>{{
                  form.controls.userName.getError('minlength')?.requiredLength
                }}</strong></mat-error
              >
              <mat-error *ngIf="userName?.hasError('banWords')"
                >The value
                <strong>{{ userName?.getError('banWords').bannedWord }} </strong
                >is banned</mat-error
              >
            </mat-form-field>
          </div>

          <div>
            <!-- *****email***** -->
            <mat-form-field
              data-testing="email"
              appearance="outline"
              class="w-full">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                [errorStateMatcher]="matcher"
                formControlName="email"
                placeholder="email"
                class="w-full" />
              <!-- Error handling -->
              <mat-error
                *ngIf="email?.hasError('email') && !email?.hasError('required')"
                >Please enter a valid email address</mat-error
              >
              <mat-error *ngIf="email?.hasError('required')"
                >email is <strong>required</strong></mat-error
              >
            </mat-form-field>
          </div>
          <div formGroupName="password">
            <!-- *****password***** -->
            <mat-form-field
              data-testing="password"
              appearance="outline"
              class="w-full">
              <mat-label>Password</mat-label>
              <input
                type="password"
                matInput
                [errorStateMatcher]="matcher"
                formControlName="password"
                placeholder="password" />
              <!-- Error handling -->
              <mat-error
                *ngIf="
                  form.controls.password.controls.password.hasError('required')
                "
                >password is <strong>required</strong></mat-error
              >
              <mat-error
                *ngIf="
                  form.controls.password.controls.password.hasError('minlength')
                "
                >password is too short
                <strong>{{
                  form.controls.password.controls.password.getError('minlength')
                    ?.requiredLength
                }}</strong></mat-error
              >
            </mat-form-field>
            <!-- *****confirmPassword***** -->
            <mat-form-field
              data-testing="confirmPassword"
              appearance="outline"
              class="w-full">
              <mat-label>Confirm Password</mat-label>
              <input
                type="password"
                matInput
                [errorStateMatcher]="matcher"
                formControlName="confirmPassword"
                placeholder="confirmPassword" />
              <!-- Error handling -->
              <mat-error
                *ngIf="!confirmPassword?.hasError('passwordShouldMatch')"
                >Password doesn't match</mat-error
              >
            </mat-form-field>
          </div>
          <h2 class="cursor-pointer flex justify-start text-xs sign-up">
            Already Registered?
            <a class="ml-2" routerLink="/login"
              ><strong class="text-blue">Login</strong>
            </a>
          </h2>

          <button
            class="rounded-full w-full mt-2"
            data-testid="login-button"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!form.valid">
            Sign up
          </button>
        </form>
      </div>
    </div>
  </section>
</div>
