<div class="flex items-center justify-end gap-3 mr-4">
  <button
    class="theme-switch"
    type="button"
    aria-label="Toggle theme"
    mat-icon-button
    (click)="toggleTheme()"
    matTooltip="Toggle theme">
    <mat-icon>
      {{ theme() === 'light' ? 'light_mode' : 'dark_mode' }}
    </mat-icon>
  </button>
  <button mat-icon-button>
    <span class="material-symbols-outlined"> mail </span>
  </button>

  <button mat-icon-button matBadge="8">
    <span class="material-symbols-outlined"> notifications </span>
  </button>

  <div class="border-2 p-2 rounded-md flex items-center mobile:hidden">
    <span class="material-symbols-outlined text-blue"> calendar_today </span>
    <span class="text-sm">
      {{ today | date : 'longDate' }}
    </span>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menu">
      <div class="flex items-center">
        <img [ngSrc]="showLng.flag" alt="{{ showLng.name }}" class="flag-icon" height="50" width="50" />
        <strong class="text-white">{{ showLng.name }}</strong>
      </div>
    </button>
    <mat-menu #menu="matMenu">
      @for (lng of languages; track $index) {
      <div
        mat-menu-item
        class="flex justify-center items-center gap-2"
        (click)="selectedCountry(lng)">
        <div class="flex justify-center items-center">
          <img [ngSrc]="lng.flag" alt="{{ lng.name }} " class="flag-icon"  width="25" height="25"/>
          {{ lng.name }}
        </div>
      </div>

      } @empty {
      <li>There are no items.</li>
      }
    </mat-menu>
  </div>

  <img
    id="avatarButton"
    type="button"
    class="w-10 h-10 rounded-full cursor-pointer"
    src="assets/images/ali.jpg"
    alt="User dropdown"
    [matMenuTriggerFor]="user" />

  <!-- Dropdown menu -->
  <mat-menu #user="matMenu" xPosition="before">
    <div class="flex-col">
      <div class="flex items-center gap-4 p-5">
        <img
          class="w-10 h-10 rounded-full"
          src="assets/images/ali.jpg"
          alt="" />
        <div class="font-medium">
          <div class="text-blue">
            {{ username?.firstName }}&nbsp;-{{ username?.lastName }}
          </div>
          <div class="text-sm text-blue">Admin</div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="p-5">
        <button mat-menu-item class="flex items-center rounded-3xl">
          <div class="flex items-center gap-2">
            <span class="material-symbols-outlined"> person </span>
            <span> My Profile </span>
          </div>
        </button>
        <button
          mat-menu-item
          routerLink="/aliakbar/settings"
          class="rounded-3xl">
          <div class="flex items-center gap-2">
            <span class="material-symbols-outlined"> settings </span>
            <span> Setting </span>
          </div>
        </button>
        <button mat-menu-item class="flex items-center rounded-3xl">
          <div class="flex items-center gap-2">
            <span class="material-symbols-outlined"> info </span>
            <span> Support </span>
          </div>
        </button>
        <button
          mat-menu-item
          [routerLink]="['/auth/login']"
          class="flex items-center rounded-3xl">
          <div class="flex items-center gap-2">
            <span class="material-symbols-outlined"> logout </span>
            <span> Logout </span>
          </div>
        </button>
      </div>
    </div>
  </mat-menu>
</div>
