<mat-card appearance="outlined">
  <mat-card-title class="p-5"> Connected Accounts </mat-card-title>
  <mat-card-content>
    <div class="col gap-3">
      <ul class="flex justify-between">
        <li>
          <div class="flex gap-3">
            <img
              class="p-1"
              src="../../../../assets/images/icons/search.png"
              width="50px"
              height="50px"
              alt="" />
            <div class="grid column-2">
              <span>Google</span>
              <span class="opacity-45 text-sm"> Calendar and Contacts </span>
            </div>
          </div>
        </li>
        <span class="text-blue divide-y">Connected</span>
      </ul>
      <mat-divider class="text-blue"></mat-divider>

      <ul class="flex justify-between mt-6">
        <li>
          <div class="flex gap-3">
            <img
              class="p-1"
              src="../../../../assets/images/icons/code.png"
              width="50px"
              height="50px"
              alt="" />
            <div class="grid column-2">
              <span>Google</span>
              <span class="opacity-45 text-sm"> Calendar and Contacts </span>
            </div>
          </div>
        </li>
        <span class="text-blue divide-y">Connected</span>
      </ul>
      <mat-divider class="text-blue"></mat-divider>

      <ul class="flex justify-between mt-6">
        <li>
          <div class="flex gap-3">
            <img
              class="p-1"
              src="../../../../assets/images/icons/mailchimp.png"
              width="50px"
              height="50px"
              alt="" />
            <div class="grid column-2">
              <span>Google</span>
              <span class="opacity-45 text-sm"> Calendar and Contacts </span>
            </div>
          </div>
        </li>
        <span class="text-blue divide-y">Connected</span>
      </ul>
      <mat-divider class="text-blue"></mat-divider>

      <ul class="flex justify-between mt-6">
        <li>
          <div class="flex gap-3">
            <img
              class="p-1"
              src="../../../../assets/images/icons/slack.png"
              width="50px"
              height="50px"
              alt="" />
            <div class="grid column-2">
              <span>Google</span>
              <span class="opacity-45 text-sm"> Calendar and Contacts </span>
            </div>
          </div>
        </li>
        <span class="text-blue divide-y">Connected</span>
      </ul>
    </div>
  </mat-card-content>
</mat-card>
<div class="mt-2">
  <app-add-new-connection></app-add-new-connection>
</div>
