<div class="min-h-screen flex items-center justify-center">
  <div
    class="py-12 px-4 sm:px-6 lg:px-8 max-w-md shadow-lg bg-white rounded-lg">
    <div class="max-w-md">
      <div>
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
          Please check you email and enter you verifyCode!
        </h2>
        <p class="mt-2 text-center text-sm text-gray-600">
          <a
            [routerLink]="['/register']"
            class="font-medium text-indigo-600 hover:text-indigo-500">
            Sign up
          </a>
        </p>
      </div>
      <app-otp-input
        #ngOtpInput
        (onInputChange)="onOtpChange($event)"
        *ngIf="showOtpComponent"
        [config]="config"></app-otp-input>

      <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()" class="container">
        <mat-form-field data-testing="verify_code" appearance="outline">
          <mat-label>Insert Code </mat-label>
          <input
            type="userName"
            matInput
            [errorStateMatcher]="matcher"
            formControlName="verify_code"
            placeholder="UserName"
            (keyup)="onKeyUp($event)" />
          @if (verify_code?.hasError('required')) {
          <mat-error>verify_code is <strong>required</strong></mat-error>
          } @if (verify_code?.hasError('minlength')) {
          <mat-error> Verification code must be 4 characters</mat-error>
          }
        </mat-form-field>

        <button
          data-testid="login-button"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!form.valid">
          Login
        </button>
      </form> -->
    </div>
  </div>
</div>
