<ul>
    <li>
        <span class="key">ID:</span>
        <span class="value">{{data().id}}</span>
    </li>
    <li>
        <span class="key">Name:</span>
        <span class="value">{{data().name}}</span>
    </li>
    <li>
        <span class="key">Email:</span>
        <span class="value">{{data().email}}</span>
    </li>
    <li>
        <span class="key">Address:</span>
        <span class="value">
            {{data().zipcode}}
            {{data().city}}
            {{data().street}}
            {{data().suite}}
        </span>
    </li>
</ul>