<nav class="pl-2 pb-2">
  <ng-container
    *ngFor="let breadcrumb of breadcrumbs; let i = index; let last = last">
    <ng-container *ngIf="!last">
      <a [routerLink]="breadcrumb.url" class="text-md font-medium">
        {{ breadcrumb.label }}
      </a>&gt;
      <ng-container *ngIf="i === 0">
        <a routerLink="aliakbar/dashboard" >
          <mat-icon class="cursor-pointer">home</mat-icon>
        </a>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="last">
      {{ breadcrumb.label }}
    </ng-container>
  </ng-container>
</nav>
