<div class="grid grid-cols-2 md:grid-cols-2 gap-1 w-full h-full">
  <div class="w-full bg-white rounded-lg p-3">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Create your account
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Or
        <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
          sign in to your account
        </a>
      </p>
    </div>
    <form
      class="grid gap-6 mb-6 md:grid-cols-2"
      [formGroup]="form"
      (ngSubmit)="onSubmit()">
      <div>
        <!-- *****Old Password***** -->
        <mat-form-field
          data-testing="oldPassword"
          appearance="outline"
          class="w-full">
          <mat-label>oldPassword</mat-label>
          <input
            type="oldPassword"
            matInput
            [errorStateMatcher]="matcher"
            formControlName="oldPassword"
            placeholder="Enter old password" />
          <!-- Error handling -->
          <mat-error *ngIf="form.controls.oldPassword.hasError('required')"
            >oldPassword is <strong>required</strong></mat-error
          >
          <mat-error *ngIf="form.controls.oldPassword.hasError('minlength')"
            >oldPassword is too short
            <strong>{{
              form.controls.oldPassword.getError('minlength')?.requiredLength
            }}</strong></mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <!-- *****New Password***** -->
        <mat-form-field
          data-testing="newPassword"
          appearance="outline"
          class="w-full">
          <mat-label>newPassword</mat-label>
          <input
            type="newPassword"
            matInput
            [errorStateMatcher]="matcher"
            formControlName="newPassword"
            placeholder="enter new password" />
          <!-- Error handling -->
          <mat-error *ngIf="form.controls.newPassword.hasError('required')"
            >newPassword is <strong>required</strong></mat-error
          >
          <mat-error *ngIf="form.controls.newPassword.hasError('minlength')"
            >newPassword is too short
            <strong>{{
              form.controls.newPassword.getError('minlength')?.requiredLength
            }}</strong></mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <!-- *****Confirm Password***** -->
        <mat-form-field
          data-testing="confirmPassword"
          appearance="outline"
          class="w-full">
          <mat-label>confirmPassword</mat-label>
          <input
            type="confirmPassword"
            matInput
            [errorStateMatcher]="matcher"
            formControlName="confirmPassword"
            placeholder="enter confirm password" />
          <!-- Error handling -->
          <mat-error *ngIf="form.controls.confirmPassword.hasError('required')"
            >confirmPassword is <strong>required</strong></mat-error
          >
          <mat-error *ngIf="form.controls.confirmPassword.hasError('minlength')"
            >confirmPassword is too short
            <strong>{{
              form.controls.confirmPassword.getError('minlength')
                ?.requiredLength
            }}</strong></mat-error
          >
        </mat-form-field>
      </div>

      <button
        class="rounded-full w-full mt-2"
        data-testid="login-button"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid">
        Sign up
      </button>
    </form>
  </div>
</div>
