<mat-card appearance="outlined">
  <mat-card-title class="p-5"> Change Password</mat-card-title >
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="desktop:grid grid-cols-2 gap-3">
        <!-- *****Old Password***** -->
        <mat-form-field
          data-testing="oldPassword"
          appearance="outline"
          class="w-full"
          >
          <mat-label>oldPassword</mat-label>
          <input
            type="oldPassword"
            matInput
            [errorStateMatcher]="matcher"
            formControlName="oldPassword"
            placeholder="Enter old password"
             />
          <!-- Error handling -->
          <mat-error *ngIf="form.controls.oldPassword.hasError('required')"
            >oldPassword is <strong>required</strong></mat-error
          >
          <mat-error *ngIf="form.controls.oldPassword.hasError('minlength')"
            >oldPassword is too short
            <strong>{{
              form.controls.oldPassword.getError('minlength')?.requiredLength
            }}</strong></mat-error
          >
        </mat-form-field>
        <!-- *****New Password***** -->
        <mat-form-field
          data-testing="newPassword"
          appearance="outline"
          class="w-full"
          >
          <mat-label>newPassword</mat-label>
          <input
            type="newPassword"
            matInput
            [errorStateMatcher]="matcher"
            formControlName="newPassword"
            placeholder="enter new password" />
          <!-- Error handling -->
          <mat-error *ngIf="form.controls.newPassword.hasError('required')"
            >newPassword is <strong>required</strong></mat-error
          >
          <mat-error *ngIf="form.controls.newPassword.hasError('minlength')"
            >newPassword is too short
            <strong>{{
              form.controls.newPassword.getError('minlength')?.requiredLength
            }}</strong></mat-error
          >
        </mat-form-field>
      </div>
        <!-- *****Confirm Password***** -->
        <mat-form-field
          data-testing="confirmPassword"
          appearance="outline"
          class="w-full"
          >
          <mat-label>confirmPassword</mat-label>
          <input
            type="confirmPassword"
            matInput
            [errorStateMatcher]="matcher"
            formControlName="confirmPassword"
            placeholder="enter confirm password" />
          <!-- Error handling -->
          <mat-error *ngIf="form.controls.confirmPassword.hasError('required')"
            >confirmPassword is <strong>required</strong></mat-error
          >
          <mat-error *ngIf="form.controls.confirmPassword.hasError('minlength')"
            >confirmPassword is too short
            <strong>{{
              form.controls.confirmPassword.getError('minlength')
                ?.requiredLength
            }}</strong></mat-error
          >
        </mat-form-field>
      <div class="flex justify-end mt-2">
        <button
          class="rounded-full w-1/4"
          data-testid="login-button"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!form.valid">
          Sign up
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
